body{
    background: linear-gradient( to top, #f5f6fa, #4a6cf7);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
h1{
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;

}
.container{
    font-family: Arial, sans-serif;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 12px;
}
p{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #4a6cf7;
}
form{
    text-align: center;
    margin-bottom: 10px;
}

.formBlock{
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    background-color: #4a6cf7;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 100px;
    border-color: #4a6cf7;
    padding: 10px;
}
input{
    padding: 8px;
    border-radius: 8upx;
    border: 1px solid #ccc;
}